

body {
    margin: 0;
    font-family: roboto;
}

header {
    background-color: #EF510B;
    height: 49px;

}

nav hr {
    position: relative;
    top: 20px;

}

img {
    width: 150px;
    height: 150px;
}

.img-p {
    margin-top: 0;
}

.main-h3 {
    margin-top: 36
}

.ingredients {
    display: flex;
    gap: 5px;
}

.steps {
    position: relative;
    left: 20px;

}
.steps h3 {
    margin-top: 0
}

.steps p {
    margin: 0;

}

.ingredients p {
    margin-top: 5px;
    margin-bottom: 5px;

}



footer {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 30px 0 30px 30px;
    background-color: #89E174;
}



.relative {
    position: relative
}

.main-spacing {
    left: 15px;
    top: 15px;

}

a {
    text-decoration: none;
    transition: 0.3s
}

a:hover {
    color: green;
    transition: 0.3s
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);



}

.grey {
    background-color: lightgrey
}
